footer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

a {
  color: aliceblue;
  margin: 0.5em;
  text-decoration: none;
  font-family: "Encode Sans Semi Expanded", sans-serif;
}
