html {
  scroll-behavior: smooth;
}
.App {
  text-align: center;
}

.App-header {
  background-image: linear-gradient(#0e2656, #233a67);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Encode Sans Semi Expanded", sans-serif;
  font-size: calc(10px + 2vmin);
  color: white;
}

.intro {
  background-image: linear-gradient(#233a67, #0e2656);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

button {
  border: 1px solid #daefff;
  color: #daefff;
  background-color: #0e2656;
  border-radius: 1em;
}
